<h1>답변하기</h1>
<%= form_tag answers_path do %>
    <%= text_field_tag :title, nil, placeholder: '제목' %><br>
    <%= text_area_tag :content, nil, placeholder: '내용' %><br>
    <%= submit_tag '작성' %>
<% end %>

<h2>게시글</h2>
<ul>
    <% @answers.each do |answer| %>
        <li>
            <h3><%= answer.title %></h3>
            <p><%= answer.content %></p>
            <h4>comment</h4>
            <%= form_tag comments_path do %>
                <%= hidden_field_tag :question_id, question.id %>
                <%= text_area_tag :content, nil, placeholder: '내용' %>
                <%= submit_tag '작성' %>
            <% end %>
            <ul>
                <% question.comments.each do |comment| %>
                    <li><%= comment.content %></li>
                <% end %>
            </ul>
        </li>
    <% end %>
</ul> 